<!DOCTYPE html>
<html>
  <head>
    <title>Kudo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
    <%= render 'shared/navbar' %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
